{% extends 'base.html' %}
{% block title%}Divide{% endblock%}
{% block content%}
    <form method="POST" action="" class="divide">
    {{form.hidden_tag()}}
        <div class="mb-3" class="form-control form-control-lg">
            {{form.number1.label}}<br>
            {{form.number1}}
        </div>
        <div class="mb-3" class="form-control form-control-lg">
            {{form.number2.label}}<br>
            {{form.number2}}
        </div>
        <div style="margin-top:5px">
            {{form.submit}}
        </div>
    </form>
    <div class="div-item">
        <h2>The answer is: <b style="color:blue">{{divide}}</b></h2>
    </div>
{% endblock%}