{% extends 'base.html' %}
{% block title%}Multiply{% endblock%}
{% block content%}
<form method="POST" action="" class="multiply">
    {{form.hidden_tag()}}
        <div class="form-group" class="mb-3" class="form-control form-control-lg">
            <h3>{{form.number1.label}}<h3><br>
            {{form.number1}}
        </div>
        <div class="form-group" class="mb-3" class="form-control form-control-lg">
            <h3>{{form.number2.label}}<h3><br>
            {{form.number2}}
        </div>
        <div style="margin-top:5px">
            {{form.submit}}
        </div>
    </form>
    <div class="multi-item">
        <h2>The answer is: <b style="color:blue" >{{multiply}}</b></h2>
    </div>
{% endblock%}